h1.main-heading,
h2.secondary-heading,
h3.secondary-heading {
  text-align: center;
}

nav.navigation {
  padding: 40px 0;
}

nav.sub-navigation {
  padding: 0 auto;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav > ul {
  display: flex;
  justify-content: space-around;
}

nav > ul > a {
  color: #333;
  text-decoration: none;
}

nav > ul > a.active {
  text-decoration: underline;
}

.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  margin: 21.44px 0;
  font-size: 2em;
  font-weight: bold;
}